.menu__side{
    width: 42.9px;
    min-height: calc(100vh - 100px);
    background: #E9EFF5;
    position: absolute;
    top: 74px;
    left: 15px;
    color: white;
    font-size: 18px;  
    z-index: 3;
    overflow: hidden;
    border-radius: 17px;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

     
.icon__cerrar{
    display: none;
  }
  
  
    .icon__menu{
      width: 100%;
      color: #2660A3;
      padding: 18px 20px;
      transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
      text-align: right;
      background: rgb(255,255,255);
      background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(219,233,247,0.5232594373219372) 78%, rgb(185 212 239 / 46%) 100%);
    }
    
    .icon-menu--open{
      width: 5px;
      height: 98%;
      margin-left: 180px;
      display: flex;
      justify-content: center;
      align-items: end;
      color: #2660A3;
      transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    
    .icon-menu--open{
      cursor: pointer;
    }
    
    .icon__menu:hover{
      cursor: pointer;
    }
  
    .options__menu{
      padding: 5px 12px;
      top: 0;
      width: 100%;
      margin-top: 10px;
      
    }
    .options__menu a{
      display: block;
      margin: 7px 0;
    }

    .options__menu a + .submenu{
        display: none; 
      }
    
      .options__menu a.active + .submenu{
        display: block;
      }
    
    
      .options__menu .option{
        padding: 8px 5px 8px 5px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 3px;
        width: 24px;
        transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
        border-left: 3px solid transparent;
    
      
    
      }
    .active .option,
    .active .option.option-modificar,
    .options__menu .option:hover,
    .options__menu .option.option-modificar:not(:hover) {
      background-color: white;
      border-radius: 5px;
      border-left: 3px solid #2660A3;
    
    }


    .sub-submenu{
        display: none; 
      }
      
      
      .submenu .active + .sub-submenu{
        display: block !important; 
      }
      
      
        .option .option__d{
          flex-shrink: 0;
          width: 14px;
          height: 14px;
          margin-top: 2px;
          background-image: url(../../assets/iconos/layout.svg);
          background-repeat: no-repeat;
          background-size: cover;
          margin-left: 6px; 
          margin-right: 7px;  
        }
      
        .option .option__i{
          flex-shrink: 0;
          width: 19px;
          height: 19px;
          margin-top: 2px;
          background-image: url(../../assets/iconos/ico-01.svg);
          background-repeat: no-repeat;
          background-size: cover;
          color: #2660A3;
          margin-left: 3px; 
          margin-right: 7px;  
        }
      
        .option .option__e{
          flex-shrink: 0;
          width: 19px;
          height: 19px;
          margin-top: 2px;
          background-image: url(../../assets/iconos/ico-02.svg);
          background-repeat: no-repeat;
          background-size: cover;
          color: #2660A3;
          margin-left: 3px; 
          margin-right: 7px;  
        }
      
        .option .option__r{
          flex-shrink: 0;
          width: 14px;
          height: 18px;
          margin-top: 2px;
          background-image: url(../../assets/iconos/ico-03.svg);
          background-repeat: no-repeat;
          background-size: cover;
          color: #2660A3;
          margin-left: 3px; 
          margin-right: 7px;  
        }
      
        .option .option__user{
          flex-shrink: 0;
          width: 17px;
          height: 18px;
          background-image: url(../../assets/iconos/ico-04.svg);
          background-repeat: no-repeat;
          background-size: cover;
          color: #2660A3;
          margin-left: 1px; 
          margin-right: 5px;  
        }
      
      .options__menu .option h4{
          font-size: 1.25rem;
          color: #075DAA;
          margin-top: 1px;
          font-weight: 500;
      
       }
          
      .menu__side_move{
         width: 215px;
         margin-bottom: 10px;
      
      }
      
      .menu__side .options__menu{
        padding: 5px 5px;
      }
      
      .options__menu .option{
        width: 100%;
      }
      
      .menu__side_move .options__menu{
        padding: 5px 12px;
      }
      
      
      .submenu{
        background-color: #D5DEE8;
        font-weight: 400;
        padding: 10px 15px;
        border-radius: 7px;
      }
      .submenu ul{
        list-style: none;
        margin: 0;
      }
      .submenu ul li{
        margin-bottom: 5px;
      }
      .submenu a{
        color: #262626;
        font-size: 1.15rem;
        display: flex;
        justify-content: start;
        padding: 6px 0;
        align-items: start;
      }
      .submenu a span{
        display: block;
        width: 20px;
        flex: none;
        margin-right: 5px;
        text-align: center;
      }
      .submenu a img{
        max-width: 100%;
      }
      .submenu a em, 
      .submenu a i{
        margin-right: 7px;
      }
      
      
      .submenu a.active{
        font-weight: 600;
      }
      
      
      .submenu ul ul{
        list-style: none;
        margin: 0 0 0 10px;
      }
      
      .submenu ul ul li a{
        background-image: url(../../assets/iconos/ico-li.svg);
        background-size: 20px auto;
        background-position: left 0 top 1px;
        background-repeat: no-repeat;
        display: block;
        padding: 5px 10px 5px 20px;
      }
      
      .icon-nav{
      width: 20px;
      height: 17px;
      display: block;
      background-repeat: no-repeat;
      background-size:contain;
      }
      .icon-nav--gficha{
      background-image: url(../../assets/iconos/ico-import-01.svg);
      }
      .icon-nav--gsficha{
      background-image: url(../../assets/iconos/ico-import-02.svg);
      }
      .icon-nav--seguimiento{
      background-image: url(../../assets/iconos/ico-import-03.svg);
      }
      .icon-nav--pedido{
      background-image: url(../../assets/iconos/ico-import-04.svg);
      }
      